<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

  <div class = "container">
      <div class = "jumbotron text-center">
        <h1 class = "font-weight_bold">Mission to Mars</h1>
        <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
      </div>

      <div class = "row">
        <div class = "col-md-12">
          <h3>{{mars.news_title}}</h3>
          <p>{{mars.news_p}}</p>
        </div>
      </div>

    <div class = "row">
      <div class= "col-md-8">
        <h2>Featured Mars Image</h2>
      </br>
        <img class="col-md-12" src= "{{mars.featured_imge_url}}" alt="Featured Mars Image">
      </div>
    

      <div class = "col-md-4">
      </br>
        <div class = "card">
          <h3>Mars Facts</h3>
            {{mars.fact_table | safe}}
        </div>
      </div>
    </div>

    <div class = "row">
      <div class = "col-md-8">
      <h3 class = "align-items-center">Mars Hemisphere</h3>
      </div>
    </div>
    <hr>

    <div class = "row">
      {%for hemisphere in hemisphere_image_urls%}
        <div class = "col-6">
            <div>
              <img width = "500 px" height = "500 px" src= "{{hemisphere.hemisphere_image_urls">
            </div>
          </div>

          {% endfor%}

      </div>
    </div>


    </div>

  </div>   
    
</body>    
</html>
